[Unit]
Description=rxvt-unicode server

[Service]
Type=forking
ExecStart=/usr/bin/urxvtd -q -f
Restart=always
Environment=LANG=en_US.utf8

[Install]
WantedBy=default.target